@font-face {
    font-family: 'inter';
    src: url(static/Inter-Black.ttf) format(ttf);
}

@font-face {
    font-family: 'inter';
    src: url(static/Inter-Regular.ttf) format(ttf);
}

@font-face {
    font-family: 'inter';
    src: url(static/Inter-Bold.ttf) format(ttf);
}