.column-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 18px;
}

@media screen and (max-width: 767px) {
    .column-menu {
        max-width: 118px;
        gap: 32px;
    }
}