.header__container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 52px;
    padding: 28px 48px 56px 48px;
    align-items: end;
    margin: 0 auto;

}

@media screen and (max-width: 1279px) {
    .header__container {
        max-width: 928px;
        padding: 28px 0 48px 0;
    }
}

@media screen and (max-width: 1023px) {
    .header__container {
        min-height: 42px;
    }
}

@media screen and (max-width: 767px) {
    .header__container {
        padding: 16px 16px 48px 16px;
    }
}