.place {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.place:last-child {
    padding-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .place {
        padding-left: 42px;
        padding-right: 42px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        padding-bottom: 72px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .place:last-child {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
    }
    .place:last-child {
        padding-bottom: 66px;
    }
}