.column-menu__link {
    /*padding-right: 18px;*/
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.column-menu__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .column-menu__link {
        /*padding-bottom: 32px;*/
        font-size: 24px;
        line-height: 24px;
    }
}